{% include "header.html" %}
<div class="container-fluid mt-3">



    <div class="owl-carousel index-carousel">

      <div class="banner_content">
        <div class="content_left">
          <h2>Thor: Love and Thunder</h2>
          <div class="show_category"><span>2022</span>: <span><span>Action</span><span>Adventure</span></span>, <span>2h 13m</span></div>
          <p class="show_desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
        <div class="content_right">
          <img src="http://placehold.jp/1920x400.png" alt="slider_show">
        </div>
      </div>

      

  </div>

    <section>
      <div class="section_heading">
        <h6>Live Channels</h6>
        <button type="button" class="btn view_all_btn">View All</button>
      </div>

      <div class="owl-carousel">
        {% for i in live_data %}

        <div class="thumbnail_block">
          <a href="#">
            <div class="thumbnail_overlay">
            </div>
            <img class="thumbnail-img" src={{i.thumbnail}} alt="show_thumbnail">

            <div class="thumbnail_content">
              <span>{{i.title}}</span>
              <img src="http://placehold.jp/32x32.png" alt="channel_logo">
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

    </section>

    <section>
      <div class="section_heading">
        <h6>Popular</h6>
        <button type="button" class="btn view_all_btn">View All</button>
      </div>

      <div class="owl-carousel">

        <div class="thumbnail_block">
          <a href="#">
            <div class="thumbnail_overlay">
            </div>
            <img class="thumbnail-img" src="http://placehold.jp/156x212.png" alt="show_thumbnail">

            <div class="thumbnail_content">
              <span>Daily News and Analysis</span>
              <img src="http://placehold.jp/32x32.png" alt="channel_logo">
            </div>
          </a>
        </div>

      </div>

    </section>

  </div>

  {% include "footer.html" %}